table,
tr, th,td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 15px;
}
th {
    text-align: center;
    font-weight: bold;
    background-color: darkblue;
    color: wheat;
    font-size: 18px;
  }